html {
    /*background-image: linear-gradient(rgb(34, 0, 58), rgb(55, 11, 136), rgb(41, 16, 76)) !important;*/
    background: radial-gradient(rgb(160, 160, 160), rgb(255, 255, 255), rgb(174, 174, 174));
    /*background-size: 200% 200%;*/
    /*animation: gradient 20s ease infinite;*/
    height: 100%;
    /*background-color: black; */
    color: white !important;
}

body {
    margin: 0px;
}

body, container {
    background: none !important;
    color: white !important;
    height: 100%;
}

#title {
    /*background-image: linear-gradient(rgb(0,0,0), rgba(10,10,10,0)) !important;*/
    font-family: "Abril Fatface", serif;
    font-style: normal;
    font-weight: 500;
    font-size: clamp(1rem, 5vw, 10vh);
    top: 10%;
}

.text { 
    position: absolute;
    left: 5%;
    font-size: clamp(1rem, 3vw, 10vh);
    font-family: "Figtree", sans-serif;
    font-weight: 100;
}

#job-title {
    top: 21%;
}

#email {
    bottom: 5%;
}

.card-details {
    position: absolute;
    width: 50%;
    height: 100%;
}

.card-profile {
    align-items: center;
    display: flex;
    position: absolute;
    width: 50%;
    height: 100%;
    right: 7.5%;
}

#profile {
    background-size: cover;
    background-image: url("./MePic.png");
    background-position-y: center;
    background-position-x: center;
    /*filter: grayscale(75%);*/
    height: 150vw;
}

#me-image-outline {
    /*border-color: var(--background-black);*/
    background-image: url('./background-noise.png');
    z-index: 3;
    width: 100%;
    border: 1em solid transparent;
    background-origin: border-box;
    background-clip: padding-box, border-box;
}

#me-image-outline, #me-image {
    aspect-ratio: 1 / 1;
    border-style: solid;
    border-width: 1em;
    border-radius: 100%;
    position:absolute;
}

#me-image {
    border-color: white;
    background-image: url("./MePic.png");
    background-size: contain;
    left: 1em;
    top: 1em;
    width: calc(100% - 4em);
    z-index: 2;
    filter:saturate(60%)
}

#stripe
{
    position: absolute;
    height: 100%;
    width: 40%;
    left: calc(30% + 1em);
    background-color: white;
}

.info-box > p {
    position: fixed;
    display: block;
}

.info-box > a {
    background-color: darkred !important;
    border-color: rgb(58, 0, 0);
    text-align: center;
}

.info-box > a:hover {
    background-color: red;
    border-color: darkred;
}

#card-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#main-card {
    position: absolute;
    /*transition: transform 0.3s ease; /* Smooth transition for non-hover states */
    background-image: url('./background-noise.png');/*var(--background-black);*/
    border-radius: 1.5em;
    width: 60vw;
    height: unset;
    /*max-height: 100%;
    max-width: 100%;*/
    aspect-ratio: 85.6 / 53.98;
    margin:auto;
    box-shadow: 4px 5px 6px rgb(114, 114, 114)
}

@keyframes gradient {
	0% {
		background-position: 0% 0%;
	}
    50% {
		background-position: 100% 100%;
	}
	100% {
		background-position: 0% 0%;
	}
}

  /* Define the rocking animation */
  @keyframes rock {
    0%, 100% { transform: rotateX(0deg) rotateY(0deg) scale3d(1, 1, 1); }   /* Slight tilt forward */
    33% { transform: rotateX(-15deg) rotateY(5deg) scale3d(0.95, 0.95, 0.95); }       /* Tilt backward in the middle */
  }

  /* Apply animation on hover */
  /*#main-card:hover {
    animation: rock 1s ease-in-out infinite;
  }*/

  :root {
    --scale-factor: 0.9; /* 50% of the viewport height */
    --background-black: rgb(21, 21, 21);
  }

  @media (max-width: 600px) {
    #main-card {
        transform: rotate(90deg);
        height: calc(100vw * var(--scale-factor));
        width: unset;
    }

    #title {
        font-size: clamp(1rem, calc(5vh * var(--scale-factor)), 10vw);
    }
}