body, container {
    background: none !important;
    color: white !important;
    height: 100%;   
}

html {
    background-image: conic-gradient(at 50% 75%, rgb(60,50,50), rgb(10,10,10), rgb(60,50,50)) !important;
    height: 100%;   
    background-color: black; 
    color: white !important;
}

#card-backdrop {
    background-color: rgba(10,10,10,0.5);
    margin-top: 0em;
    border-radius: 3px;
}

#title {
    /*background-color: black;*/
    font-family: "Abril Fatface", serif;
    font-weight: 400;
    font-style: normal;
}

#profile {
    background-size: cover;
    background-image: url("./MePic.png");
    background-position-y: center;
    background-position-x: center;
    filter: grayscale(75%);
    height: 20em;
}

#bio {
    margin-top:5em;
}

#char_btn {
    margin: auto;
    text-align: center;
}

.square {
    height: 0; 
    width:50%;
    padding-bottom:50%;
    background-color:red
}